:root {
  /* Colors */
  --color-yellow:      #fbc336;
  --color-green:       #a4eda4;
  --color-black:       #030712;
  --color-gray:        #eaedf1;
  --color-white:       #f9fafb;
  --color-muted:       #99a1af;
  --color-text-muted:  #5a606f;
  --color-border:      #2b3a58;

  /* Typografi */
  --step--1: clamp(0.69rem, 0.6rem + 0.28vw, 0.83rem);
  --step-0:  clamp(0.94rem, 0.84rem + 0.47vw, 1.11rem);
  --step-1:  clamp(1.13rem, 0.98rem + 0.69vw, 1.5rem);
  --step-2:  clamp(1.41rem, 1.19rem + 1.06vw, 2rem);
  --step-3:  clamp(1.76rem, 1.41rem + 1.63vw, 2.5rem);
  --step-4:  clamp(2.2rem,  1.67rem + 2.52vw, 3.5rem);

  /* Spacing */
  --space-3xs: clamp(0.25rem, 0.23rem + 0.11vw, 0.31rem);
  --space-2xs: clamp(0.5rem,  0.46rem + 0.22vw, 0.63rem);
  --space-xs:  clamp(0.75rem, 0.69rem + 0.33vw, 0.94rem);
  --space-s:   clamp(1rem,    0.92rem + 0.43vw, 1.25rem);
  --space-m:   clamp(1.5rem,  1.38rem + 0.65vw, 1.88rem);
  --space-l:   clamp(2rem,    1.84rem + 0.87vw, 2.5rem);
  --space-xl:  clamp(3rem,    2.76rem + 1.3vw,  3.75rem);
  --space-2xl: clamp(4rem,    3.67rem + 1.74vw, 5rem);
  --space-3xl: clamp(6rem,    5.51rem + 2.61vw, 7.5rem);

  /* Flow */
  --flow-space: var(--space-m);
}
