---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import WhatToExpect from "../components/WhatToExpect.astro";
import ourvisionImage from "../assets/ourvision.png";
---

<Layout>
  <Header />

  <section class="hero">
    <div class="hero__heading">
      <p class="hero__label">ABOUT</p>
      <h1 class="hero__title">Igniting Innovation</h1>
    </div>

    <p class="hero__subhead">
      Our strength lies in the collaboration between our talented teams and
      esteemed clients. We cultivate a workplace that champions innovation,
      promotes peak performance, and guarantees client satisfaction.
    </p>
  </section>
  <WhatToExpect
    imageSrc={ourvisionImage.src}
    imageAlt="Image of employees"
    eyebrow="OUR VISION"
    heading="Turn your ideas into reality."
    body="Capitalize on low hanging fruit to identify a ballpark value added activity beta test. Override the digital divide with additional from DevOps."
    items={[
      "Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.",
      "Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.",
    ]}
  />
  <Footer />
</Layout>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 100px 2.5rem;
    margin-bottom: 100px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f9fafb 66%);
  }

  .hero__label {
    text-align: center;
    color: action;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 147.5%;
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }

  .hero__title {
    margin: 0;
    color: action;
    font-family: "Cabin Variable";
    font-size: 60px;
    font-weight: 700;
    line-height: 116%;
    text-decoration: underline;
    text-decoration-color: var(--color-yellow);
    text-decoration-thickness: 7px;
    text-underline-offset: 6px;
  }

  .hero__subhead {
    max-width: 700px;
    text-align: center;
    color: var(--color-text-muted);
    font-family: Lato;
    font-size: 22px;
    font-weight: 400;
    line-height: 147.5%;
  }
</style>
