---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <section id="about_hero">
    <div id="about_hero-text1">
      <p>ABOUT</p>
      <h1>Igniting Innovation</h1>
    </div>
    <p id="about_hero-p">
      Our strength lies in the collaboration between our talented teams and
      esteemed clients. We cultivate a workplace that champions innovation,
      promotes peak performance, and guarantees client satisfaction.
    </p>
  </section>
  <section>
    <div id="about_container1">
      <div id="about_textcontent">
        <div id="about_container-title">
          <p>ABOUT</p>
        </div>
        <div id="about_container-text">
          <h1>Turn your ideas into reality.</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity beta test. Override the digital divide with additional from
            DevOps.
          </p>
        </div>
      </div>
      <div></div>
    </div>
  </section>
  <Footer />
</Layout>

<style>
  #about_hero {
    display: flex;
    padding: 100px 360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f9fafb 66%);
  }
  #about_hero-text1 {
    flex-shrink: 0;
  }
  #about_hero-text1 p {
    text-align: center;
    color: action;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }
  #about_hero h1 {
    color: action;
    font-size: 60px;
    font-style: normal;
    font-family: Cabin Variable;
    font-weight: 700;
    line-height: 116%; /* 69.6px */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--color-yellow);
    text-decoration-skip-ink: auto;
    text-decoration-color: action;
    text-decoration-thickness: 7px; /* 11.667% */
    text-underline-offset: 6px; /* 10% */
    text-underline-position: from-font;
  }

  #about_hero-p {
    width: 700px;

    color: var(--color-text-muted);
    text-align: center;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 32.45px */
  }

  #about_container1 {
    display: inline-flex;
    align-items: flex-start;
    gap: 122px;
  }
  #about_textcontent {
    display: flex;
    width: 590px;
    flex-direction: column;
    align-items: flex-start;
    gap: 19px;
  }

  #about_container-title {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    border-radius: 20px;
  }

  #about_container-title p {
    color: action;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
    letter-spacing: 2.32px;
    text-transform: uppercase;
  }

  #about_container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  #about_container-text h1 {
    color: action;
    font-family: Cabin Variable;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 52.2px */
  }

  #about_container-text p {
    width: 590px;

    color: action;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.5%; /* 23.6px */
  }
</style>
