---
import Logo from "./Logo.astro";
---

<footer id="footer">
  <div id="footer_inner">
    <div id="footer_left">
      <Logo />
    </div>
    <p id="footer_copy">©2025 AskExperts. All rights reserved</p>
    <div id="footer_links">
      <a href="#">Terms of Service</a>
      <span>|</span>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>

<!-- Styles i src/styles/global.css -->