---
import Logo from "./Logo.astro";
import Button from "./Button.astro";
import Login from "./Login.astro";
---

<header>
  <div id="header_inner">
    <Logo />
    <ul>
      <li>Home</li>
      <li>Case Study</li>
      <li>Team</li>
      <li>About</li>
    </ul>
    <div id="header_button">
      <Button
        id="login-btn"
        text="Login"
        paddingX="16px"
        bgColor="var(--color-white)"
        textColor="var(--color-black)"
        popovertarget="login-popover"
      />
    </div>
  </div>
</header>

<Login />

<style>
  header {
    background: var(--color-black);
    backdrop-filter: blur(10.5px);

    display: flex;
    width: 100%;
    padding: var(--space-l) 0;
    justify-content: center;
    align-items: flex-start;
  }

  #header_inner {
    display: inline-grid;
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    column-gap: var(--space-2xl);
    grid-template-columns: minmax(0, 1fr) auto auto;
  }

  header ul {
    display: inline-flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--space-m);
    flex-wrap: nowrap;
    white-space: nowrap;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;

    list-style: none;
    margin: 0;
    padding: 0;

    color: var(--color-white);
  }

  header li {
    font-family: "Lato";
    color: var(--color-white);
    font-size: var(--step-0);
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  #header_button {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2xs);
    grid-column: 3 / span 1;
  }

  /* Anchor til login-popover */
  #login-btn {
    anchor-name: --login-anchor;
  }
</style>