<div id="logo">AskExperts</div>

<style>
  #logo {
    color: var(--color-on-ui-primary, #f9fafb);
    font-family: Cabin;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%; /* 31.5px */
  }
</style>
